<!DOCTYPE html>
<html>
<title>New Story</title>
<center><h1> Write New Story </h1></center>

<style>
div {
    position: absolute;
    top: 10%;
    left: 15%;
    height: 70%;
    width: 60%;
    padding: 50px;
    background: #bfbfbf;
    font-size: 27pt;
}
input.title {
    height: 30px;
    width: 200px;
    vertical-align: middle;
}
input.b {
    width: 100px;
    margin-left: 20%;
    font-size: 15pt;
    padding: 6px;
}
.opening {
    width: 400px;
    height: 200px;
    resize: none;
    vertical-align: top;
}
</style>

<div>
<form action="/createstory" method="post">
  Story Title:<input class="title" type="text" name="title">
  <br><br><br>
  Opening:       <textarea class="opening" name="story" placeholder= "Start Your Story Here"></textarea>
  <br><br><br>
  <input class="b" type="submit" value="Create">
</form>
</div>
</html>
