<!-- HTML form keys -->
<!--
    user == username
    pass == password
-->

<!DOCTYPE html>
<html>
  <head>
    <title> Register </title>
    {{ msg }}
  </head>

  <body>
    <center>
      <h1> Register </h1>
      <form action="/registerauth" method="post">
	Username: <input type="text" name="user">
	<br><br>
	Password: <input type="password" name="pass">
	<br><br>
	Confirm Password: <input type="password" name="cpass">
	<br><br>
	<input type="submit" name="Register" value="Submit">
      </form>

      <br><br>

      <form action="/" method=["POST","GET"]>
	<input type="submit" value="Log In">
      </form>
    </center>
  </body>
</html>
